# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Marketplace.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.vs/Marketplace/v17/.futdcache.v1
/.vs/Marketplace/DesignTimeBuild/.dtbcache.v2
/.vs/Marketplace/v16/.suo
/.vs/Marketplace/v17/.suo
/.vs/
/Web/Web.csproj.user

obj
bin
.idea
Marketplace.sln.DotSettings.user
app.db*
.DS_Store
