@page
@model Web.Areas.Shop.Pages.CatalogModel
@{
    ViewData["Title"] = "Список блюд";
}

<div class="container content">
    <div class="row">
        <div class="col-md-2">
            <div>Категории</div>
            <div class="list-group">
                <form method="post">
                    <button type="submit" asp-page-handler="Products">Продукты</button>
                </form>
                <form method="post">
                    <button type="submit" asp-page-handler="Soups">Супы</button>
                </form>
                <form method="post">
                    <button type="submit" asp-page-handler="MeatDishes">Мясные блюда</button>
                </form>
                <form method="post">
                    <button type="submit" asp-page-handler="FishDishes">Рыбные блюда</button>
                </form>
                <form method="post">
                    <button type="submit" asp-page-handler="Salads">Салаты</button>
                </form>
                <form method="post">
                    <button type="submit" asp-page-handler="Desserts">Десерты</button>
                </form>
            </div>
        </div>
        <div class="col-md-10">
            @foreach (var item in Model.Items)
            {
                <partial name="_IItemWidget" model="item"/>
            }
        </div>
    </div>
</div>
