@page
@model Web.Pages.CatalogModel
@{
    ViewData["Title"] = "Список блюд";
}

<div class="container content">
    <div class="row">
        <div class="col-md-2">
            <div>Категории</div>
            <div class="list-group">
                <a href="#" class="list-group-item">Супы</a>
                <a href="#" class="list-group-item">Мясные блюда</a>
                <a href="#" class="list-group-item">Рыбные блюда</a>
                <a href="#" class="list-group-item">Салаты</a>
                <a href="#" class="list-group-item">Десерты</a>
            </div>
        </div>
        <div class="col-md-8">Dishes</div>
    </div>
</div>
