@page
@model IndexModel
@{
    ViewData["Title"] = "К столу";
}

<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-10">
        <div class="text-center">
            <div class="row row-cols-1 row-cols-md-3 g-4">
              <div class="col">
                <div class="card" style="width: 18rem;">
                  <img src="https://images.pexels.com/photos/2733918/pexels-photo-2733918.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="Продукты">
                  <div class="card-body">
                    <h5 class="card-title">Продукты</h5>
                    <a href="Shop/Catalog/Products" class="stretched-link"></a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card" style="width: 18rem;">
                  <img src="https://images.pexels.com/photos/4871275/pexels-photo-4871275.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="Супы">
                  <div class="card-body">
                    <h5 class="card-title">Супы</h5>
                    <a href="Shop/Catalog/Soups" class="stretched-link"></a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card" style="width: 18rem;">
                  <img src="https://images.pexels.com/photos/5718025/pexels-photo-5718025.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="Мясные блюда">
                  <div class="card-body">
                    <h5 class="card-title">Мясные блюда</h5>
                    <a href="Shop/Catalog/MeatDishes" class="stretched-link"></a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card" style="width: 18rem;">
                  <img src="https://images.pexels.com/photos/262959/pexels-photo-262959.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="Рыбные блюда">
                  <div class="card-body">
                    <h5 class="card-title">Рыбные блюда</h5>
                    <a href="Shop/Catalog/FishDishes" class="stretched-link"></a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card" style="width: 18rem;">
                  <img src="https://images.pexels.com/photos/1234535/pexels-photo-1234535.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="Салаты">
                  <div class="card-body">
                    <h5 class="card-title">Салаты</h5>
                    <a href="Shop/Catalog/Salads" class="stretched-link"></a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card" style="width: 18rem">
                  <img src="https://images.pexels.com/photos/376464/pexels-photo-376464.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="Десерты">
                  <div class="card-body">
                    <h5 class="card-title">Десерты</h5>
                    <a href="Shop/Catalog/Desserts" class="stretched-link"></a>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="col"></div>
  </div>
</div>