@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout!;
    }
    else
    {
        // ReSharper disable once Razor.LayoutNotResolved
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div class="container">
    @RenderBody()
</div>

@section Scripts {
    @RenderSection("Scripts", false)
}