@using Infrastructure.Identity
@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> _signInManager

<div class="nav">
    <a class="nav-link" asp-area="Cart" asp-page="/Index">
        <img src="~/img/icons/cart.svg" alt="">
        <div>Корзина</div>
    </a>
    @if (!_signInManager.IsSignedIn(User))
    {
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Context.Request.GetEncodedUrl()">
            <img src="~/img/icons/login.png" alt="">
            <div>Войти</div>
        </a>
    }
    else
    {
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index">
            <div >Аккаунт</div>
        </a>
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Context.Request.GetEncodedUrl()">
            <img src="~/img/icons/logout.png" alt="">
            <div>Выйти</div>
        </a>
    }
</div>