@using Microsoft.AspNetCore.Identity
@using Infrastructure.Identity
@using Microsoft.AspNetCore.Http.Extensions
@inject SignInManager<AppUser> _signInManager

@if (!_signInManager.IsSignedIn(User))
{
    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Context.Request.GetEncodedUrl()">Войти</a>
}
else
{
    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index">Аккаунт</a>
    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Context.Request.GetEncodedUrl()">Выйти</a>
}
